body {
	width: 100%;
	padding: 0px;
}

#navbar {
	margin: 0;
}

.intro { 
	background: #ecf0f1; 
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
}

.picSection {

	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 500px 0;
	font-style: italic;
	font-size: 20px;
	color:#fff;
}

#indexPic { 

	background: url(../images/work.jpg) 50% 0 fixed; 
}

#aboutPic { 

	background: url(../images/study.jpg) 50% 0 fixed; 
}

#cvPic { 

	background: url(../images/cv.jpg) 50% 0 fixed; 
}

.cvlist {
	padding-top: 15px;
	padding-bottom: 15px;
}

#about { 
	background: #5A5A5A; 
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
	color: #fff;
}

#iskulause {
	color: #B9B3BF;
	opacity: 0.5;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

#pictureContainer {
	display:block-inline; 
	text-align:center;

}

#footerContainer {

	margin-top: 12px;
}

.brandIcon {
	padding:15px;
}

#show {
	margin-left:40px;
}

#sources {
	display: none;
}